<form [formGroup]="customerForm">
    <div class="row">
        <label for="fullname">Full Name</label>
        <input type="text" formControlName="fullName" id="fullname">
    </div>
    <div class="row">
        <label for="username">User name</label>
        <input type="text" formControlName="userName" id="username">
    </div>
    <div class="row">
        <label for="phonenumber">Phone No.</label>
        <input type="text" formControlName="phoneNumber" id="phonenumber">
    </div>
    <br>
    <div class="row">
        <div class="col-8">
            <button class="btn btn-primary" (click)="AddCustomer()">Add Customer</button>
        </div>
    </div>
</form>